:root{
    --border-style: 1px solid black;
    --standard-padding: 10px;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav {
    background-color: steelblue;
    padding: var(--standard-padding);
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
}

nav a {
    display: block;
    padding: var(--standard-padding);
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
    color: white;
}

h1 {
    color: darkblue;
    padding: .5rem;
    border-bottom: 1px solid black;
    margin-bottom: 1rem;
}

main{
    max-width: 640px;
    grid-column: 2 / 3;
}

main img {
    width: 150px;
    height: auto;
    border: var(--border-style);
    padding: 2px;
    margin: 10px;
    box-shadow: 0 0 30px gray;
    float: right;
    margin: 0 0 1rem 1rem;
}

p {
    margin: 1rem; 
}

aside {
    width: 20em;
    position: relative;
    text-align: center;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

aside img {
    width: 200px;
    height: auto;
}

aside h2 {
    position: absolute;
    top: 30px;
    left: 110px;
}

header, footer, .grid {   
    max-width: 840px;
    margin: 0 auto;   
}

footer{
    border-top: var(--border-style);
    text-align: center;
    padding-top: 1rem;
}

/*Class selectors*/
.box {
    margin: 1rem;
    border: var(--border-style);
    padding: 1rem;
    background-color: silver;
    color: black;
}

.indent {
    padding-left: 2rem;
}

.grid {
    display: grid;
    align-items: center;
}
