:root{
    --border-style: 1px solid black;
    --standard-padding: 10px;
}

*{
    padding: 0;
    margin: 0;
}

main{
    max-width: 840;
}

nav {
    background-color: darkblue;
    padding: var(--standard-padding);
}

nav a {
    color: white;
    display: block;
    padding: var(--standard-padding);
    font-size: 20px;
}

h1 {
    color: darkblue;
    margin: 10px;
}

main img {
    width: 150px;
    height: auto;
    border: var(--border-style);
    padding: 2px;
    margin: 10px;
    box-shadow: 0 0 30px gray;
}

main p {
    max-width: 100%;
    padding: var(--standard-padding);
    margin: 5px;
}

aside {
    width: 20rem;
    margin: 1rem;
    border: var(--border-style);
    padding: var(--standard-padding);
    background-color: bisque;
    color: black; 
}

aside img {
    width: 200px;
    height: auto;
}

footer {
    border-top: var(--border-style);
    text-align: center;
    padding: 1rem;
}